<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Javascript basic</title>
</head>
<body>
    <header>
        <h1>Javascript cơ bản cho người mới bắt đầu</h1>
    </header>

    <section>
        <pre>
            1. Khái niệm và mục đích  
            2. Cách sử dụng (3 cách )
                -c1. Trực tiếp trên 1 element
                -c2. Trên trang html với nội dung được bọc bởi <script></script>
                -c3. Nhúng file có phần mở rộng .js vào file html <script src=""></script>
            3.
        </pre>
    </section>

    <footer>

    </footer>
    <script src="/Lesson7/Js/home.js" language="Javascript"></script>
</body>
</html>