.container{
    width: 100%;
    display: flex;
}
a{
    text-decoration: none;
    font-weight: 600;
    display: block;
    margin: 12px 0;
}
img{
    border: 1px solid #ccc;
    width: 100%;
}
.item{width: 30%;
    /* border: 1px solid #ccc; */

}
.item:nth-child(2){
    margin: 0 10px;
}