<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bai1 lab 4.0</title>
</head>
<body>
    <ul style="color: blue; background-color: #e7e7ff; margin: 0; padding-bottom: 20px;">
        <li>
            <label for="">China</label>
        </li>
        <li>
            <label for="">India</label>
        </li>
    </ul>
    <ol style="color: red; background-color: #e7e7ff; margin: 0;">
        <li>
            <label for="">United States</label>
        </li>
        <li>
            <label for="">United Kingdom</label>
        </li>
    </ol>
</body>
</html>