<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet" href="../Css/layout.css">
    <link  rel="stylesheet" href="../Css/1.css">
    <title>menu</title>
</head>
<body>
    <header class="header">
        <nav class="nav-menu">
            <ul class="list-level-1 d-flex bg-red bgc-500">
                <!-- <li class="list-level-1">
                    <a href="">
                        <img width="100px" height="60px" src="https://devmaster.edu.vn/images/logo.png" alt="">
                    </a>
                </li> -->
                <li class="item-level-1 ">
                    <a href="#" class="link cl-white">Trang chủ</a>
                    <div class="menu-level-2">
                        <ul class="list-level-2">
                            <li class="item-level-2">
                                <a href=""class="link-2">HTML</a>
                            </li>
                            <li class="item-level-2">
                                <a href=""class="link-2">CSS</a>
                            </li>
                            <li class="item-level-2">
                                <a href=""class="link-2">Javascript</a>
                            </li>
                            <li class="item-level-2">
                                <a href=""class="link-2">Font</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="item-level-1">
                    <a href="#" class="link cl-white">Sản phẩm</a>
                </li>
                <li class="item-level-1">
                    <a href="#" class="link cl-white">Dịch vụ</a>
                        <div class="menu-level-2">
                            <ul class="list-level-2">
                                <li class="item-level-2">
                                    <a href=""class="link-2">HTML</a>
                                </li>
                                <li class="item-level-2">
                                    <a href=""class="link-2">CSS</a>
                                </li>
                                <li class="item-level-2">
                                    <a href=""class="link-2">Javascript</a>
                                </li>
                                <li class="item-level-2">
                                    <a href=""class="link-2">Font</a>
                                </li>
                            </ul>
                        </div>
                </li>
                <li class="item-level-1">
                    <a href="#" class="link cl-white">Liên hệ</a>
                </li>
                <li class="item-level-1">
                    <a href="#" class="link cl-white">Tin tức</a>
                </li>
            </ul>
        </nav>
    </header>

    <section>

    </section>

    <footer>

    </footer>



</body>
</html>