.header{
    position: relative;
}
.menu{
    width: 80%;
    margin: auto;
    position: fixed;
    align-items: center;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
}
.menu-left{

}
.menu-right{

}
.list-item{

}
.item{
    padding: 0.75rem 0.5rem;
    position: relative;

}
.item:hover::after{
    content: "";
    position: absolute;
    height: 0.35rem;
    bottom: 0.4rem;
    left: 0.5rem;
    width: 3.5rem;
    background-color: green;
    cursor: pointer;
}
.item.active::after{
    content: "";
    position: absolute;
    height: 0.35rem;
    bottom: 0.4rem;
    left: 0.5rem;
    width: 3.5rem;
    background-color: green;
    display: block;
}
.item-link{
    text-transform: uppercase;
    font-size: 0.8rem;
}
/* body */
.new-page,.contact{
    margin-top: 5rem;
    margin-bottom: 1rem;
    background: url(http://acatea.vn/Content/images/images/tin-tuc/background-tintuc.png)  no-repeat;
    background-size: cover;
}



.new-page-content{
    margin: 3rem auto;

}
.news-item{
    width: 30%;
    margin-bottom: 2rem;
}
.news-content{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
            line-clamp: 3; 
    -webkit-box-orient: vertical;
}
.news-text-title{
    min-height: 3rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
            line-clamp: 2; 
    -webkit-box-orient: vertical;
}
.news-text-content{

}
.news-page-numbers{
    justify-content: center;
    background-color: #fff;
}
.news-page-number{
    border: 0.1rem  solid green;
    margin-right: 0.3rem;
    padding: 0.1rem 0.3rem;
}
.news-page-number:hover{
    background-color: green;
    cursor: pointer;
}
.news-page-vv {
    font-weight: 700;
    padding-top: 0.3rem;
    margin-right: 0.2rem;
}
/* footer */
.footer{
    width: 100%;
    padding-top: 2rem;
    background: url(http://acatea.vn/Content/images/trang-chu/fotter-tea.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.footer-list{
    margin: auto;
}
.footer-item-list{
    padding-right: 1.8rem;
    
}
.footer-item-list:last-child{
    margin-left: 6rem;
}
.footer-item{
    margin-bottom: 0.2rem;
    font-size: 0.85rem;
}
.footer-item h3{
    font-size: 1.2rem;
    margin-bottom: 1.6rem;
}
/* contact */
.contact{
    margin-top: 8rem;
}
.bgr-contact-form{
    background: url(http://acatea.vn/Content/images/images/lien-he/banner.jpg)  no-repeat;
    background-size: cover;
    margin: auto;
    padding-bottom: 7rem;
}
.form-contact{
    margin-left: 70%;
}
.wrap-input{
    width: 100%;
    margin-top: 1rem;
}
.wrap-input input{
    font-size: 0.8rem;
    border: 0.1rem solid #899a29;
    color: #899a29;
    outline: none;
    width: 100%;
    padding: 0.5rem 0.9rem;
}
.form-contact button{
    margin: 1rem 0;
    border: 0.07rem solid #899a29;
    background-color: #899a29;
    width: 6.2rem;
    height: 2.5rem;
    color: #fff;
    font-size: 1.3rem;
    cursor: pointer;
}
