<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Function & DOM</title>
</head>
<body>
    <div class="">
        <label for="">userName</label>
        <input for="userName" type="text" placeholder="nhập name" name="userName" id="userName">
    </div>
    <div class="">
        <label for="">password</label>
    <input for="password" type="password" placeholder="nhập password" name="password" id="password">
    </div>
    <div class="">
        <button type="button" onclick="preCheck()">Login</button>
    </div>
    <script src="/Js/home.js" language="Javascript"></script>
</body>
</html>