<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="./css/form.css">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
    <title>Dangky</title>
</head>
<body>
    <div class="container">
        <div class="form">
            <div class="head">
                <h2>Welcome Login</h2>
            </div>
            <div class="form-login">
                <div class="form-email">
                    <input type="email" name="" id="username" placeholder="email">
                </div>
                <div class="form-username">
                    <input type="text" name="" id="username" placeholder="username">
                </div>
                <div class="form-password">
                    <input type="password" name="" id="password" placeholder="password">
                </div>
                <div class="form-password">
                    <input type="password" name="" id="password" placeholder="re-password">
                </div>
                <div class="form-policy">
                    <input type="checkbox" name="" id="password" placeholder="re-password"><a href="" for="">policy</a>
                </div>
            </div>
            <div class="send-form">
                <button type="submit">Sign in</button>
                <button type="Login">Login</button>
            </div>
        </div>
    </div>
</body>
</html>